body {
    background: #FFF;
    font-family: Arial, Helvetica;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #F00;
    background: #400;
}

input {
    font-family: Courier;
}

.btn_submenu {
    border-style: outset;
    border-width: 2px;
    border-color: #000;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;

    background: #DDD;

    text-decoration: none;
    font-size: medium;
    font-stretch: condensed;
    font-family: courier;
    color: #000;
    width: 125px;
    height: 25px;
}

.btn_submenu:hover {
    border-style: inset;
    background: #DDD;
    color: #000;
}

/**** Botones del menu ***********************************/
.btn_main_menu {
    text-decoration: none;
    text-align: center;
    width: 96px;
    height: 25px;
    background: #1AF;
    color: #006;
}

.btn_main_menu:hover {
    background: #FFF;
    color: #000;
}
/*********************************************************/


/**** El cuerpo de la aplicacion *************************/
#tab_menu {
    background: #06F;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #000;
    height: 1080px;
}

#tab_body {
    height: 1080px;
    background: #FFF;
    overflow: scroll;
}
/*********************************************************/


/**** El cuerpo de la aplicacion *************************/
#fnt_recibo {
    font-family: Arial, Helvetica;
    font-size: 14px;
}

#tab_recibo {
    border-style: solid;
    border-width: 1px;
}
/*********************************************************/


#tabla_form {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #000;

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000;

    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #000;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000;
}


#line_list {
    padding: 4px;
}

#line_list:nth-child(odd) {
    background: #EEE;
}

#line_list:nth-child(even) {
    background: #DDD;
}
