<table boder="0">

    <tr><td align="center" valign="top">
        <a href="socio.php" class="btn_main_menu"><h5 class="btn_main_menu">Socio</h5></a>
    </td></tr>

    <tr><td align="center" valign="top">
        <a href="recibo.php" class="btn_main_menu"><h5 class="btn_main_menu">Recibo</h5></a>
    </td></tr>

    <tr><td align="center" valign="top">
        <a href="actividad.php" class="btn_main_menu"><h5 class="btn_main_menu">actividad</h5></a>
    </td></tr>

    <tr><td>&nbsp;</td></tr>

    <tr><td>&nbsp;</td></tr>

    <tr><td align="center" valign="top">
        <a href="institucion.php" class="btn_main_menu"><h5 class="btn_main_menu">Instituci&oacute;n</h5></a>
    </td></tr>

    <tr><td align="center" valign="top">
        <a href="admin.php" class="btn_main_menu"><h5 class="btn_main_menu">Administrar</h5></a>
    </td></tr>

    <tr><td align="center" valign="top">
        <a href="about.php" class="btn_main_menu"><h5 class="btn_main_menu">Acerca de...</h5></a>
    </td></tr>

</table>
