<!--
 * mnu_admin.php
 *
 * Copyright 2015 abel <abelnicolas1976@gmail.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 -->

<h2>
    <a href="index.php">[volver a gnuclub]</a>
    <a href="admin.php">[administrar base de datos]</a>
    <a href="pwdmgr.php">[administrar contrase&ntilde;as]</a>
    <a href="miscmgr.php">[otras configuraciones]</a>
</h2>

<br>
<hr>
